<div class="container">
    <div class="footer">
        <div class="left">
            <b>Unscode</b> 2018, by <b>Jorge Rodrigues</b>
        </div>
        <div class="middle">
            +55 65 99609-5847 | Cuiabá, Mato Grosso, Brasil | jorgerodrigues9@outlook.com
        </div>
        <div class="right">
            <a href="" class="social"><i class="fa fa-twitter"></i></a>
            <a href="" class="social"><i class="fa fa-facebook-square"></i></a>
            <a href="" class="social"><i class="fa fa-dribbble"></i></a>
            <a href="" class="social"><i class="fa fa-instagram"></i></a>
            <a href="" class="social"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>