<div class="box featured" style="background-image:url({{ 'assets/images/pages/home/yahdi-romelo-586406-unsplash.jpg'|theme }})">
    <div class="top">
        <div class="content">
            <div class="container">
                <!-- Top navigation -->
                <nav class="nav">
                    <div class="default">
                        <ul class="left-links">
                            <li class="hover">
                                <a class="brand text-white" href="#one">
                                    Unscode<span class="text-deep-orange">.</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="right-links">
                            <li class="hover">
                                <a class="link text-white" href="#one">Home</a>
                            </li>
                            <li class="hover">
                                <a class="link text-white" href="javascript:void(0)">About</a>
                            </li>
                            <li class="hover">
                                <a class="link text-white" href="javascript:void(0)">Portfolio</a>
                            </li>
                            <li class="hover">
                                <a class="link text-white" href="javascript:void(0)">Blog</a>
                            </li>

                            <li class="hover">
                                <a class="link contact bg-deep-orange to" href="javascript:void(0)">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="content">
            <div class="container">
                <div class="vertical text-white">Lorem ipsum dolor sit amet.</div>
                <div class="texts">
                    <p class="description text-deep-orange">Lorem ipsum dolor sit amet.</p>
                    <p class="title text-white">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="content">
            <div class="container">
                <ul class="socials">
                    <li class="social">
                        <a href="" class="icon bg-gray"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social">
                        <a href="" class="icon bg-gray"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li class="social">
                        <a href="" class="icon bg-gray"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li class="social">
                        <a href="" class="icon bg-gray"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="look">
        <i class="fa fa-2x fa-angle-down text-black"></i>
        <p class="what">Lorem ipsum dolor sit amet.</p>
    </div>
</div>